body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

/* Navbar */
header {
    background: purple;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    padding: 40px;
}

.hero img {
    width: 150px;
    border-radius: 50%;
}

/* Sections */
section {
    padding: 40px;
}

h2 {
    color: purple;
}

/* Cards */
.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px gray;
}

/* Project */
.project {
    background: white;
    padding: 15px;
    margin: 10px 0;
}

/* Contact */
input, textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    background: purple;
    color: white;
    padding: 10px 20px;
    border: none;
}
